linkedin-workflow8614.json
{
  "meta": {
    "instanceId": "ae21f7ff983ee929f98e8d7968bbd21b49d1a44f2e129169348ba847d37dd5ac",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "cd3edd6c-a54b-4c1c-a9b5-0d9b8fb26824",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -800,
        -96
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "e96cc11a-f2c3-45fb-acdd-bd16f7eb4e76",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -576,
        -96
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.YOUR_AWS_SECRET_KEY_HERE_JdBR0J2M3ydLhkwlnlChh4/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1MeQdveFXA4ihTc7FrFyl_JdBR0J2M3ydLhkwlnlChh4",
          "cachedResultUrl": "https://docs.google.YOUR_AWS_SECRET_KEY_HERE_JdBR0J2M3ydLhkwlnlChh4/edit?usp=drivesdk",
          "cachedResultName": "linkedin profiles"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "69d5390c-fbb4-497f-b1e3-17ca778343af",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -352,
        -96
      ],
      "parameters": {
        "text": "=you have to identify the domain of the company from provided data.\nif domain is not provided then make a search term that help me find the domain which should end with \"official site\"\nmake value \"null\" if not available\ndon't hellucinate or make assumptions\nstrictly output in this json format\n{\n  \"domain\": \"company-domain/null\",\n  \"search term\": \"search-term/null\"\n}\n\ndata:\n name:{{ $json.name }}\n position:{{ $json.position }}\n description:{{ $json.description }}",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 2.2,
      "alwaysOutputData": false
    },
    {
      "id": "3cdadbca-84da-4563-aef8-5c7c5e7a2937",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -288,
        128
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "credential-id",
          "name": "googlePalmApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "705066c1-98cf-4f32-9071-663157062e14",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        0,
        -96
      ],
      "parameters": {
        "jsCode": "// Get input array\nconst itemsList = items;\n\n// Convert each wrapped JSON string into a usable object\nconst cleaned = itemsList.map(item => {\n  let raw = item.json.output;\n\n  // Remove ```json block formatting\n  raw = raw.replace(/```json|```/g, \"\").trim();\n\n  // Parse to actual JSON\n  const data = JSON.parse(raw);\n\n  return { json: data };\n});\n\n// Return cleaned objects\nreturn cleaned;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "645704a6-c18d-43d0-b613-42de5905d747",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        224,
        -96
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "domain",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "47061173-9c15-44c8-9678-a15b691cefe8",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $json.domain }}",
                    "rightValue": "=null"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "no domain",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2d15a11e-14e1-4c30-b7b8-c561df025d04",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $json[\"search term\"] }}",
                    "rightValue": "=null"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "9fab98ab-0c8d-4e0b-8f07-55cf6d84490a",
      "name": "LinkFinder AI - Get Email from Domain",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        448,
        -400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_profile_to_linkedin_info"
            },
            {
              "name": "input_data",
              "value": "={{ $('Get row(s) in sheet').item.json['profile links'] }}"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 4.2,
      "notes": "Service: linkedin_profile_to_linkedin_info\\n\\nScrapes LinkedIn profile to get email.\\n\\nAccess email: $json.email\\n\\nGet API key: https://linkfinderai.com\\n\\nReplace YOUR_API_KEY_HERE in Authorization header"
    },
    {
      "id": "2c4e51f0-7769-47c1-bb59-0b1800d4ae65",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        400,
        208
      ],
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "options": {},
        "sendQuery": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "cx",
              "value": "c0fa13214e7ee42a4"
            },
            {
              "name": "q",
              "value": "={{ $json[\"search term\"] }}"
            }
          ]
        }
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "credential-id",
          "name": "httpBasicAuth Credential"
        },
        "httpBearerAuth": {
          "id": "credential-id",
          "name": "httpBearerAuth Credential"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "af042f70-b402-48d9-a432-0cb026400e36",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        672,
        -400
      ],
      "parameters": {
        "columns": {
          "value": {
            "name": "={{ $('Get row(s) in sheet').item.json.name }}",
            "email": "={{ $json.email }}",
            "domain": "={{ $('Switch').item.json.domain }}"
          },
          "schema": [
            {
              "id": "name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "profile links",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "profile links",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "img link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "domain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "searched position",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "searched position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "searched industry",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "searched industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "searched region",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "searched region",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.YOUR_AWS_SECRET_KEY_HERE_JdBR0J2M3ydLhkwlnlChh4/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1MeQdveFXA4ihTc7FrFyl_JdBR0J2M3ydLhkwlnlChh4",
          "cachedResultUrl": "https://docs.google.YOUR_AWS_SECRET_KEY_HERE_JdBR0J2M3ydLhkwlnlChh4/edit?usp=drivesdk",
          "cachedResultName": "linkedin profiles"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "441c3f68-d279-4fb5-a6fb-f64483d94950",
      "name": "LinkFinder AI - Get Email from Profile",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1424,
        208
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_profile_to_linkedin_info"
            },
            {
              "name": "input_data",
              "value": "={{ $('Get row(s) in sheet').item.json['profile links'] }}"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 4.2,
      "notes": "Service: linkedin_profile_to_linkedin_info\\n\\nScrapes LinkedIn profile to get email.\\n\\nAccess email: $json.email\\n\\nGet API key: https://linkfinderai.com\\n\\nReplace YOUR_API_KEY_HERE in Authorization header"
    },
    {
      "id": "9a746e3d-5481-472d-aa35-944f8c0701be",
      "name": "Code in JavaScript1",
      "type": "n8n-nodes-base.code",
      "position": [
        624,
        208
      ],
      "parameters": {
        "jsCode": "// n8n Code/Function node - extract cleaned domains from various input shapes\n\nfunction addFromUrlString(urlStr, domainSet) {\n  if (!urlStr || typeof urlStr !== 'string') return;\n  urlStr = urlStr.trim();\n  urlStr = urlStr.replace(/<[^>]*>/g, ''); // remove HTML tags\n  try {\n    const u = urlStr.startsWith('http://') || urlStr.startsWith('https://')\n      ? new URL(urlStr)\n      : new URL('https://' + urlStr);\n    let host = u.hostname.toLowerCase();\n    if (host.startsWith('www.')) host = host.slice(4);\n    if (host) domainSet.add(host);\n  } catch (e) {\n    const m = urlStr.match(/([a-z0-9.-]+\\.[a-z]{2,})(\\/|$)/i);\n    if (m && m[1]) {\n      let host = m[1].toLowerCase();\n      if (host.startsWith('www.')) host = host.slice(4);\n      domainSet.add(host);\n    }\n  }\n}\n\nfunction processEntry(entry, domainSet) {\n  if (!entry || typeof entry !== 'object') return;\n  if (entry.link) addFromUrlString(entry.link, domainSet);\n  if (entry.formattedUrl) addFromUrlString(entry.formattedUrl, domainSet);\n  if (entry.displayLink) addFromUrlString(entry.displayLink, domainSet);\n\n  if (Array.isArray(entry.items)) {\n    entry.items.forEach(it => {\n      if (it.link) addFromUrlString(it.link, domainSet);\n      if (it.formattedUrl) addFromUrlString(it.formattedUrl, domainSet);\n      if (it.displayLink) addFromUrlString(it.displayLink, domainSet);\n    });\n  }\n}\n\n// MAIN: iterate over each incoming n8n item\nreturn items.map(item => {\n  const domains = new Set();\n  const j = item.json;\n\n  if (Array.isArray(j.data)) {\n    j.data.forEach(obj => processEntry(obj, domains));\n  } else if (Array.isArray(j.items)) {\n    j.items.forEach(obj => processEntry(obj, domains));\n  } else if (j.link || j.displayLink || j.formattedUrl) {\n    processEntry(j, domains);\n  } else if (Array.isArray(j)) {\n    j.forEach(obj => processEntry(obj, domains));\n  } else {\n    Object.keys(j || {}).forEach(k => {\n      const v = j[k];\n      if (Array.isArray(v)) v.forEach(obj => processEntry(obj, domains));\n    });\n  }\n\n  // return one item per original input item\n  return { json: { domains: Array.from(domains) } };\n});\n\n"
      },
      "typeVersion": 2
    },
    {
      "id": "96fb1bbb-c9ac-4707-ac0b-7508c5028e3d",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        848,
        208
      ],
      "parameters": {
        "text": "=you have to simple matching and finding task where i will give a search term and list of domain you have to find the read domain from that \n\nstrictly output in json\n{\n  \"domain\": \"domain\"\n}\n\nsearch term:  {{ $('Switch').item.json[\"search term\"] }}\nlist of domains: {{ $json.domains }}",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 2.2
    },
    {
      "id": "96d35781-3750-4a4e-8112-897681c92798",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        928,
        432
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "credential-id",
          "name": "googlePalmApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "89a7aaff-1c2e-4e1b-b37c-de1869ed13a3",
      "name": "Code in JavaScript2",
      "type": "n8n-nodes-base.code",
      "position": [
        1200,
        208
      ],
      "parameters": {
        "jsCode": "// Get input array\nconst itemsList = items;\n\n// Convert each wrapped JSON string into a usable object\nconst cleaned = itemsList.map(item => {\n  let raw = item.json.output;\n\n  // Remove ```json block formatting\n  raw = raw.replace(/```json|```/g, \"\").trim();\n\n  // Parse to actual JSON\n  const data = JSON.parse(raw);\n\n  return { json: data };\n});\n\n// Return cleaned objects\nreturn cleaned;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "3787b1f4-eceb-4eea-866c-58b508ad5df7",
      "name": "Append or update row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1648,
        208
      ],
      "parameters": {
        "columns": {
          "value": {
            "name": "={{ $('Get row(s) in sheet').item.json.name }}",
            "email": "={{ $json.email }}",
            "domain": "={{ $('Code in JavaScript2').item.json.domain }}"
          },
          "schema": [
            {
              "id": "name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "profile links",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "profile links",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "img link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "img link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "domain",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "searched position",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "searched position",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "searched industry",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "searched industry",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "searched region",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "searched region",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.YOUR_AWS_SECRET_KEY_HERE_JdBR0J2M3ydLhkwlnlChh4/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1MeQdveFXA4ihTc7FrFyl_JdBR0J2M3ydLhkwlnlChh4",
          "cachedResultUrl": "https://docs.google.YOUR_AWS_SECRET_KEY_HERE_JdBR0J2M3ydLhkwlnlChh4/edit?usp=drivesdk",
          "cachedResultName": "linkedin profiles"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "b7c76f06-879b-46e4-9bfe-fb1327c9fa79",
      "name": "📖 Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        -272
      ],
      "parameters": {
        "width": 704,
        "height": 464,
        "color": 4,
        "content": "## 🔍 About LinkFinder AI\\n\\nLinkFinder AI is a powerful tool to enrich leads and companies and scrape LinkedIn without needing a LinkedIn account.\\n\\n**Get your API key:** https://linkfinderai.com\\n\\n---\\n\\n## 📊 What This Workflow Does\\n\\nThis workflow automates finding email addresses for LinkedIn profiles by:\\n1. Reading contact data (name, position, description, LinkedIn profile) from Google Sheets\\n2. Using AI to identify company domains from the data or create search terms\\n3. If domain exists: Directly scraping the LinkedIn profile for email using LinkFinder AI\\n4. If no domain: Using Google Custom Search to find company websites, then extracting domain with AI, then scraping LinkedIn profile for email\\n5. Updating Google Sheets with found email addresses and domains\\n\\n**Input Required:**\\n- Google Sheet with columns: name, position, description, profile links\\n- LinkedIn profile URLs in the 'profile links' column\\n\\n**Output Provided:**\\n- Email addresses found from LinkedIn profiles\\n- Company domains identified\\n- Updated Google Sheet with email and domain data\\n\\n**Workflow Steps:**\\n1. Manual trigger to start workflow\\n2. Read data from Google Sheets\\n3. AI analyzes data to identify domain or create search term\\n4. Parse AI output to JSON\\n5. Switch based on domain availability\\n6. **Path A (domain exists):** Scrape LinkedIn profile with LinkFinder AI → Update sheet\\n7. **Path B (no domain):** Google search → Extract domains → AI finds correct domain → Scrape LinkedIn profile with LinkFinder AI → Update sheet\\n\\n---\\n\\n## ⚙️ Setup Instructions\\n\\n1. **Get LinkFinder AI API Key**\\n   - Visit https://linkfinderai.com\\n   - Sign up and copy your API key\\n\\n2. **Configure LinkFinder AI Nodes**\\n   - Find nodes named \\\"LinkFinder AI - Get Email from Domain\\\" and \\\"LinkFinder AI - Get Email from Profile\\\"\\n   - Open each node settings\\n   - Expand the Headers section\\n   - Find the Authorization header\\n   - Replace YOUR_API_KEY_HERE with your actual API key\\n\\n3. **Configure Google Services**\\n   - Connect Google Sheets OAuth2 credential\\n   - Add Google Gemini (PaLM) API key to both \\\"Google Gemini Chat Model\\\" nodes\\n   - Add Google Custom Search API key and CX to \\\"HTTP Request1\\\" node\\n   - Update Google Sheet document ID and sheet name in all Google Sheets nodes\\n\\n4. **Test the Workflow**\\n   - Click \\\"Test workflow\\\" button\\n   - Verify all nodes execute successfully\\n   - Check Google Sheet is updated correctly\\n\\n5. **Activate**\\n   - Once tested successfully, activate the workflow\\n\\n---\\n\\n## 🔧 LinkFinder AI Services Used\\n\\n**linkedin_profile_to_linkedin_info** - Scrapes LinkedIn profiles without account\\n- Input: LinkedIn profile URL\\n- Output: Full profile data including email, job title, company info\\n- Access: Direct fields ($json.email, $json.fullName, etc.)\\n\\n---\\n\\n## ⚠️ Important Notes\\n\\n- Hunter.io dependency removed - now uses LinkFinder AI\\n- Workflow achieves same functionality as original\\n- API key must be configured in BOTH LinkFinder AI nodes\\n- Requires Google Sheets, Google Gemini, and Google Custom Search credentials\\n- LinkedIn profile URLs must be in 'profile links' column"
      },
      "typeVersion": 1
    },
    {
      "id": "3b6932d5-1fb3-4f7e-8c3b-9d41760a0547",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        -192
      ],
      "parameters": {
        "color": 7,
        "width": 992,
        "height": 464,
        "content": "## 1. get sheet data and check for domain is provided"
      },
      "typeVersion": 1
    },
    {
      "id": "1f3edf5c-2d07-4f66-8521-7e7f6ea7b564",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -464
      ],
      "parameters": {
        "color": 7,
        "width": 768,
        "height": 528,
        "content": "## 2. if domain exists scrape LinkedIn profile with LinkFinder AI and update google sheets"
      },
      "typeVersion": 1
    },
    {
      "id": "7eedf9c3-2472-4a41-aaac-6077e274761e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        112
      ],
      "parameters": {
        "color": 7,
        "width": 1440,
        "height": 448,
        "content": "## 3. search for domain and scrape LinkedIn profile to find email and update sheets"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Get Email from Domain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Get Email from Domain": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Get Email from Profile": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Get Email from Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}