linkedin-workflow4677.json
{
  "name": "Wiza Node Demo",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Linkedin",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What Are You Searching For?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Find Email"
                  },
                  {
                    "option": "Find Phone"
                  },
                  {
                    "option": "Find Linkedin"
                  },
                  {
                    "option": "Find All"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Full Name"
            },
            {
              "fieldLabel": "Company Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Phone"
            },
            {
              "fieldLabel": "Linkedin"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -304,
        352
      ],
      "id": "c5dcda10-f5f4-4d37-90d6-b837954730c7",
      "name": "On form submission",
      "webhookId": "efa92439-bfb1-4623-8f47-a56afac07065"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['What Are You Searching For?'] }}",
                    "rightValue": "=Find Email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dad0017d-6f10-46ea-8331-6e1b28eecdf6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Find Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "329df518-6700-4d66-8bee-a36fdc599a23",
                    "leftValue": "={{ $json['What Are You Searching For?'] }}",
                    "rightValue": "=Find Phone",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Find Phone"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3569aa72-74c8-49ce-9dad-4fd55536d807",
                    "leftValue": "={{ $json['What Are You Searching For?'] }}",
                    "rightValue": "=Find Linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Find Linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8831e967-4f79-4e4e-a26c-c10739dc6a1f",
                    "leftValue": "={{ $json['What Are You Searching For?'] }}",
                    "rightValue": "=Find All",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Find All"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        320
      ],
      "id": "260a38cb-6e6a-40b3-857b-41130407d70d",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        336
      ],
      "id": "5d70a53a-0d0b-4983-9696-6c9356593ef6",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result === null || $json.result === '' }}",
                    "rightValue": "=true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5aec486c-48bd-408a-8309-b59acaa32ef7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82f7bbbf-2bd5-439a-844d-b071eefbcf49",
                    "leftValue": "={{ $json.result !== null && $json.result !== '' }}",
                    "rightValue": "=true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Finished"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        592,
        352
      ],
      "id": "30e260a2-c643-449a-a0ba-b478fc871629",
      "name": "Switch1",
      "notes": "Updated to check LinkFinder AI response structure"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {api_key_here}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "lead_full_name_to_linkedin_url"
            },
            {
              "name": "input_data",
              "value": "={{ $json['Full Name'] + ' ' + $json['Company Name'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        160
      ],
      "id": "106cdb8f-223c-4783-aecf-627a0bb76434",
      "name": "LinkFinder AI - Find LinkedIn URL",
      "notes": "Step 1: Find LinkedIn profile URL using name and company"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {api_key_here}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_profile_to_linkedin_info"
            },
            {
              "name": "input_data",
              "value": "={{ $json.result }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        344,
        160
      ],
      "id": "email-scraper-node",
      "name": "LinkFinder AI - Scrape Profile for Email",
      "notes": "Step 2: Scrape LinkedIn profile to get email and other data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {api_key_here}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "lead_full_name_to_linkedin_url"
            },
            {
              "name": "input_data",
              "value": "={{ $json['Full Name'] + ' ' + $json['Company Name'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        352
      ],
      "id": "phone-linkedin-finder",
      "name": "LinkFinder AI - Find LinkedIn (Phone)",
      "notes": "Step 1: Find LinkedIn profile URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {api_key_here}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_profile_to_linkedin_info"
            },
            {
              "name": "input_data",
              "value": "={{ $json.result }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        344,
        352
      ],
      "id": "10e8b880-1591-4b0f-b819-8fb07b24a49e",
      "name": "LinkFinder AI - Scrape Profile for Phone",
      "notes": "Step 2: Scrape LinkedIn profile to get phone and other data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {api_key_here}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "lead_full_name_to_linkedin_url"
            },
            {
              "name": "input_data",
              "value": "={{ $json['Full Name'] + ' ' + $json['Company Name'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        544
      ],
      "id": "383c252b-e565-4b21-8edb-cd55a45342bf",
      "name": "LinkFinder AI - Find LinkedIn URL Only",
      "notes": "Returns LinkedIn profile URL directly"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Failed To Find Enrichment Data",
        "completionMessage": "The LinkFinder AI service could not find any enrichment data from the provided information",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        816,
        256
      ],
      "id": "4549186a-7149-43f1-a458-16ab19a61ef7",
      "name": "Failed To Find Enrichment",
      "webhookId": "2f65eb38-7d5e-4817-8238-39b4e25a6607"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appvFKIEfctaRKtpz",
          "mode": "list",
          "cachedResultName": "CRM Magic",
          "cachedResultUrl": "https://airtable.com/appvFKIEfctaRKtpz"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1040,
        256
      ],
      "id": "38aa6864-5921-4877-bb42-8922f0242b1c",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "S0wzwrxIlS7w4puZ",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Success!",
        "completionMessage": "Your new lead has been successfully added to your CRM",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1264,
        640
      ],
      "id": "51a3f99b-e8e0-440b-9721-b4fb53fae59a",
      "name": "Success Message Form",
      "webhookId": "2f65eb38-7d5e-4817-8238-39b4e25a6607"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node - Updated for LinkFinder AI response structure\n// Input: array of enrichment results from LinkFinder AI\n// Output: single normalized lead object\n\nreturn [\n  {\n    json: (() => {\n      const all = items.map(i => i.json);\n      \n      // Find the LinkedIn profile scrape result (has detailed fields, not just result)\n      const profileData = all.find(r => r.fullName || r.email || r.mobileNumber) || {};\n      \n      // Find LinkedIn URL result (simple result field)\n      const linkedinUrlData = all.find(r => r.result && r.result.includes('linkedin.com/in/')) || {};\n      \n      // Extract name parts\n      const fullName = profileData.fullName || '';\n      const nameParts = fullName.split(' ');\n      const firstName = nameParts[0] || null;\n      const lastName = nameParts.slice(1).join(' ') || null;\n      \n      return {\n        first_name: firstName,\n        last_name: lastName,\n        email: profileData.email || null,\n        phone_number: profileData.mobileNumber || null,\n        company_name: profileData.companyName || null,\n        website: profileData.companyWebsite || null,\n        location: profileData.jobLocation || profileData.addressWithCountry || null,\n        job_title: profileData.jobTitle || null,\n        linkedin_profile: profileData.linkedinUrl || linkedinUrlData.result || null,\n        company_url: profileData.companyLinkedin || null\n      };\n    })()\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        448
      ],
      "id": "78552061-9ad8-4dd4-8a33-197784392e71",
      "name": "Clean Up",
      "notes": "Updated to handle LinkFinder AI response structure - profile scraping returns fields directly, not in result"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "city": "={{ $json.location }}",
          "companyName": "={{ $json.company_name }}",
          "firstName": "={{ $json.first_name }}",
          "jobTitle": "={{ $json.job_title }}",
          "lastName": "={{ $json.last_name }}",
          "linkedinUrl": "={{ $json.linkedin_profile }}",
          "phoneNumber": "={{ $json.phone_number }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1040,
        448
      ],
      "id": "a8a70914-8bba-43b5-9c16-f3226fb78103",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "sWzxDeckHaHQigYw",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UjUtEho9_Lg5ByZOr-HBco7nrYgZvqksNBuQhU_HndE",
          "mode": "list",
          "cachedResultName": "Leads List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UjUtEho9_Lg5ByZOr-HBco7nrYgZvqksNBuQhU_HndE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 307447212,
          "mode": "list",
          "cachedResultName": "Leads 2025-09-30",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UjUtEho9_Lg5ByZOr-HBco7nrYgZvqksNBuQhU_HndE/edit#gid=307447212"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin_profile",
              "displayName": "linkedin_profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        640
      ],
      "id": "c9f5a42b-6c19-4c1b-8deb-ce4e5d912ef1",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vzI0Akf2FXBJ25Xq",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Find LinkedIn URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkFinder AI - Find LinkedIn (Phone)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkFinder AI - Find LinkedIn URL Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkFinder AI - Find LinkedIn URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkFinder AI - Find LinkedIn (Phone)",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkFinder AI - Find LinkedIn URL Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Find LinkedIn URL": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Scrape Profile for Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Scrape Profile for Email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Find LinkedIn (Phone)": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Scrape Profile for Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Scrape Profile for Phone": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "LinkFinder AI - Find LinkedIn URL Only": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Failed To Find Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Success Message Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9071f77b-1774-475d-9b90-bc8dd1ff6ef1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f944db44f0ee5cfbb8fcfaaee3c2cc653ac6b9f929e8a07b51c2ed0bcea2f09b"
  },
  "id": "tD7hMNAA1AEsTKaW",
  "tags": [
    {
      "createdAt": "2025-09-18T19:21:14.139Z",
      "updatedAt": "2025-09-18T19:21:14.139Z",
      "id": "hAedgKcLY27GKG4G",
      "name": "Video 1"
    }
  ]
}