linkedin-workflow3188.json
{"name":"Affiliate Recruiter - Influencer Discovery & Enrichment","nodes":[{"parameters":{"content":"## 🎯 Affiliate Recruiter - Influencer Discovery & Enrichment\n\n**What it does:** Discovers potential affiliate partners from LinkedIn post engagements, enriches their profiles with full contact data, scores them by influence, and prepares them for outreach.\n\n**Input:** LinkedIn post URL (viral content in your niche)\n\n**Output:** Fully enriched influencer database with scores, emails, and priority rankings\n\n**Scalability:** Processes 50-200+ profiles per post automatically\n\n**Setup:**\n1. Get API key from https://linkfinderai.com\n2. Replace YOUR_API_KEY_HERE in all LinkFinder AI nodes\n3. Connect your Google Sheets\n4. Paste a LinkedIn post URL and run\n\n**Services used:**\n- linkedin_post_to_reactions\n- linkedin_profile_to_linkedin_info\n- company_name_to_website\n- company_name_to_email\n\n**Perfect for:** Affiliate managers, partnership teams, influencer marketing agencies recruiting at scale","height":520,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[250,240],"name":"📖 Documentation"},{"parameters":{"options":{}},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[680,460],"name":"Manual Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"post_url","name":"post_url","value":"https://www.linkedin.com/posts/example-viral-post-about-affiliate-marketing","type":"string"},{"id":"min_followers","name":"min_followers","value":5000,"type":"number"},{"id":"target_keywords","name":"target_keywords","value":"=[\"creator\", \"influencer\", \"consultant\", \"coach\", \"founder\", \"entrepreneur\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,460],"name":"Input - Post URL & Settings"},{"parameters":{"method":"POST","url":"https://api.linkfinderai.com","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR_API_KEY_HERE"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"linkedin_post_to_reactions"},{"name":"input_data","value":"={{ $json.post_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,460],"name":"LinkFinder AI - Get Post Reactions"},{"parameters":{"jsCode":"// Extract profile URLs from reactions\nconst reactions = $input.first().json.result || [];\n\n// Create array of items for batch processing\nconst profiles = reactions.map(reaction => ({\n  linkedin_url: reaction.profile_url || reaction.linkedin_url,\n  reaction_type: reaction.reaction_type || 'LIKE',\n  reactor_name: reaction.name || reaction.full_name || 'Unknown'\n}));\n\n// Filter out any without valid URLs\nconst validProfiles = profiles.filter(p => p.linkedin_url && p.linkedin_url.includes('linkedin.com'));\n\nreturn validProfiles.map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,460],"name":"Extract Profile URLs"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1560,460],"name":"Split Into Batches"},{"parameters":{"method":"POST","url":"https://api.linkfinderai.com","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR_API_KEY_HERE"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"linkedin_profile_to_linkedin_info"},{"name":"input_data","value":"={{ $json.linkedin_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,460],"name":"LinkFinder AI - Get Profile Info"},{"parameters":{"jsCode":"// Parse profile data and calculate influence score\nconst profile = $input.first().json;\nconst prevData = $('Split Into Batches').first().json;\n\nconst fullName = profile.fullName || profile.full_name || 'Unknown';\nconst headline = profile.headline || '';\nconst summary = profile.summary || '';\nconst followerCount = parseInt(profile.followerCount || profile.follower_count || 0);\nconst connectionCount = parseInt(profile.connectionCount || profile.connection_count || 0);\nconst currentCompany = profile.companyName || profile.current_company || '';\nconst location = profile.location || '';\nconst email = profile.email || '';\n\n// Calculate influence score (0-100)\nlet score = 0;\n\n// Follower score (0-50 points)\nif (followerCount >= 50000) score += 50;\nelse if (followerCount >= 20000) score += 40;\nelse if (followerCount >= 10000) score += 30;\nelse if (followerCount >= 5000) score += 20;\nelse if (followerCount >= 1000) score += 10;\n\n// Connection score (0-25 points)\nif (connectionCount >= 10000) score += 25;\nelse if (connectionCount >= 5000) score += 20;\nelse if (connectionCount >= 2000) score += 15;\nelse if (connectionCount >= 500) score += 10;\n\n// Headline relevance (0-25 points)\nconst headlineLower = headline.toLowerCase();\nconst keywords = ['creator', 'influencer', 'consultant', 'coach', 'founder', 'entrepreneur', 'speaker', 'author'];\nconst matchCount = keywords.filter(kw => headlineLower.includes(kw)).length;\nscore += Math.min(matchCount * 8, 25);\n\n// Determine priority\nlet priority = 'low';\nif (score >= 70) priority = 'high';\nelse if (score >= 45) priority = 'medium';\n\nreturn [{\n  json: {\n    name: fullName,\n    linkedin_url: prevData.linkedin_url,\n    headline: headline,\n    summary: summary.substring(0, 200),\n    follower_count: followerCount,\n    connection_count: connectionCount,\n    current_company: currentCompany,\n    location: location,\n    direct_email: email,\n    reaction_type: prevData.reaction_type,\n    influence_score: score,\n    priority: priority,\n    needs_company_enrichment: currentCompany ? true : false\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,460],"name":"Parse & Score Profile"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-followers","leftValue":"={{ $json.follower_count }}","rightValue":1000,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2220,460],"name":"Filter - Min Followers"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-company","leftValue":"={{ $json.current_company }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2440,460],"name":"Has Company?"},{"parameters":{"method":"POST","url":"https://api.linkfinderai.com","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR_API_KEY_HERE"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"company_name_to_website"},{"name":"input_data","value":"={{ $json.current_company }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2660,360],"name":"LinkFinder AI - Get Website"},{"parameters":{"method":"POST","url":"https://api.linkfinderai.com","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer YOUR_API_KEY_HERE"}]},"sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"type","value":"company_name_to_email"},{"name":"input_data","value":"={{ $('Has Company?').item.json.current_company }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,360],"name":"LinkFinder AI - Get Company Email"},{"parameters":{"assignments":{"assignments":[{"id":"name","name":"name","value":"={{ $('Has Company?').item.json.name }}","type":"string"},{"id":"linkedin_url","name":"linkedin_url","value":"={{ $('Has Company?').item.json.linkedin_url }}","type":"string"},{"id":"headline","name":"headline","value":"={{ $('Has Company?').item.json.headline }}","type":"string"},{"id":"follower_count","name":"follower_count","value":"={{ $('Has Company?').item.json.follower_count }}","type":"number"},{"id":"connection_count","name":"connection_count","value":"={{ $('Has Company?').item.json.connection_count }}","type":"number"},{"id":"company","name":"company","value":"={{ $('Has Company?').item.json.current_company }}","type":"string"},{"id":"website","name":"company_website","value":"={{ $('LinkFinder AI - Get Website').item.json.result }}","type":"string"},{"id":"company_email","name":"company_email","value":"={{ $json.result }}","type":"string"},{"id":"direct_email","name":"direct_email","value":"={{ $('Has Company?').item.json.direct_email }}","type":"string"},{"id":"location","name":"location","value":"={{ $('Has Company?').item.json.location }}","type":"string"},{"id":"score","name":"influence_score","value":"={{ $('Has Company?').item.json.influence_score }}","type":"number"},{"id":"priority","name":"priority","value":"={{ $('Has Company?').item.json.priority }}","type":"string"},{"id":"status","name":"status","value":"new_lead","type":"string"},{"id":"date","name":"enriched_date","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3100,360],"name":"Format Enriched Profile"},{"parameters":{"assignments":{"assignments":[{"id":"name","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"linkedin_url","name":"linkedin_url","value":"={{ $json.linkedin_url }}","type":"string"},{"id":"headline","name":"headline","value":"={{ $json.headline }}","type":"string"},{"id":"follower_count","name":"follower_count","value":"={{ $json.follower_count }}","type":"number"},{"id":"connection_count","name":"connection_count","value":"={{ $json.connection_count }}","type":"number"},{"id":"company","name":"company","value":"","type":"string"},{"id":"website","name":"company_website","value":"","type":"string"},{"id":"company_email","name":"company_email","value":"","type":"string"},{"id":"direct_email","name":"direct_email","value":"={{ $json.direct_email }}","type":"string"},{"id":"location","name":"location","value":"={{ $json.location }}","type":"string"},{"id":"score","name":"influence_score","value":"={{ $json.influence_score }}","type":"number"},{"id":"priority","name":"priority","value":"={{ $json.priority }}","type":"string"},{"id":"status","name":"status","value":"new_lead","type":"string"},{"id":"date","name":"enriched_date","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2660,560],"name":"Format Without Company"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[3320,460],"name":"Merge All Profiles"},{"parameters":{"assignments":{"assignments":[{"id":"batch_item","name":"processed_profile","value":"={{ $json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3540,460],"name":"Prepare for Loop"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"all_profiles","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3980,460],"name":"Aggregate All Results"},{"parameters":{"jsCode":"// Final summary and sorted results\nconst allProfiles = $input.first().json.all_profiles || [];\n\n// Sort by influence score (highest first)\nconst sorted = allProfiles.sort((a, b) => (b.influence_score || 0) - (a.influence_score || 0));\n\n// Count by priority\nconst highPriority = sorted.filter(p => p.priority === 'high').length;\nconst mediumPriority = sorted.filter(p => p.priority === 'medium').length;\nconst lowPriority = sorted.filter(p => p.priority === 'low').length;\n\n// Get top 10 for immediate outreach\nconst topProspects = sorted.slice(0, 10);\n\nreturn [{\n  json: {\n    summary: {\n      total_profiles_processed: sorted.length,\n      high_priority_count: highPriority,\n      medium_priority_count: mediumPriority,\n      low_priority_count: lowPriority,\n      profiles_with_email: sorted.filter(p => p.company_email || p.direct_email).length,\n      average_influence_score: Math.round(sorted.reduce((sum, p) => sum + (p.influence_score || 0), 0) / sorted.length)\n    },\n    top_10_prospects: topProspects,\n    all_enriched_profiles: sorted,\n    ready_for_outreach: sorted.filter(p => p.priority === 'high' && (p.company_email || p.direct_email))\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4200,460],"name":"Generate Final Report"}],"connections":{"Manual Trigger":{"main":[[{"node":"Input - Post URL & Settings","type":"main","index":0}]]},"Input - Post URL & Settings":{"main":[[{"node":"LinkFinder AI - Get Post Reactions","type":"main","index":0}]]},"LinkFinder AI - Get Post Reactions":{"main":[[{"node":"Extract Profile URLs","type":"main","index":0}]]},"Extract Profile URLs":{"main":[[{"node":"Split Into Batches","type":"main","index":0}]]},"Split Into Batches":{"main":[[{"node":"LinkFinder AI - Get Profile Info","type":"main","index":0}]]},"LinkFinder AI - Get Profile Info":{"main":[[{"node":"Parse & Score Profile","type":"main","index":0}]]},"Parse & Score Profile":{"main":[[{"node":"Filter - Min Followers","type":"main","index":0}]]},"Filter - Min Followers":{"main":[[{"node":"Has Company?","type":"main","index":0}]]},"Has Company?":{"main":[[{"node":"LinkFinder AI - Get Website","type":"main","index":0}],[{"node":"Format Without Company","type":"main","index":0}]]},"LinkFinder AI - Get Website":{"main":[[{"node":"LinkFinder AI - Get Company Email","type":"main","index":0}]]},"LinkFinder AI - Get Company Email":{"main":[[{"node":"Format Enriched Profile","type":"main","index":0}]]},"Format Enriched Profile":{"main":[[{"node":"Merge All Profiles","type":"main","index":0}]]},"Format Without Company":{"main":[[{"node":"Merge All Profiles","type":"main","index":1}]]},"Merge All Profiles":{"main":[[{"node":"Prepare for Loop","type":"main","index":0}]]},"Prepare for Loop":{"main":[[{"node":"Split Into Batches","type":"main","index":0}]]},"Aggregate All Results":{"main":[[{"node":"Generate Final Report","type":"main","index":0}]]}},"pinData":{}}