linkedin-workflow2187.json
{
  "name": "LinkedIn Company Deep Dive - Org Chart Builder",
  "nodes": [
    {
      "parameters": {
        "content": "## 🏢 LinkedIn Company Deep Dive - Org Chart Builder\n\n**What it does:** Extracts complete company intelligence from LinkedIn - processes MULTIPLE company URLs to build full organizational profiles with leadership details.\n\n**Input:** Array of LinkedIn company URLs (e.g., 10-20 companies)\n\n**Output:** Complete org chart for EACH company including:\n- Company details (name, industry, size, website)\n- Employee count\n- Full employee roster\n- Leadership profiles with bios\n\n**Scalability:** Processes up to 20 companies in batches of 5, extracting 10+ employee profiles per company\n\n**Setup:**\n1. Get API key from https://linkfinderai.com\n2. Replace YOUR_API_KEY_HERE in all LinkFinder AI nodes (5 total)\n3. Edit input data with your company URLs\n4. Test the workflow\n\n**Services used:**\n- linkedin_company_to_linkedin_info\n- linkedin_company_to_employees\n- linkedin_profile_to_linkedin_info\n\n**Perfect for:**\n- Sales teams building account maps\n- Recruiters mapping organizations\n- Competitive intelligence\n- Market research on multiple companies",
        "height": 420,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2432,
        416
      ],
      "name": "📖 Documentation",
      "id": "48f3f717-0495-4594-a040-0ae8735e5572"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1552,
        640
      ],
      "name": "Split Into Batches",
      "id": "688b1fa0-d3f8-4a30-8d7c-6cdb934eaa7a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ENTER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_company_to_linkedin_info"
            },
            {
              "name": "input_data",
              "value": "={{ $json.result }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        640
      ],
      "name": "LinkFinder AI - Company Info",
      "id": "046e4e7f-4c91-46f5-aecd-17d9399cc18a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ENTER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_company_to_employees"
            },
            {
              "name": "input_data",
              "value": "={{ $('LinkFinder AI - Company Info').item.json.linkedinUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        640
      ],
      "name": "LinkFinder AI - Get Employees",
      "id": "da42ce12-20ff-4d88-bde9-ec2f8b02318a"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "name": "Aggregate All Results",
      "id": "07c1b024-e200-4660-a541-88166170831d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ENTER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "company_name_to_linkedin_url"
            },
            {
              "name": "input_data",
              "value": "={{ $json.company }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        640
      ],
      "name": "LinkFinder AI - Find Company Linkedin Url",
      "id": "b5b00329-16da-46c4-ad87-eb9609290a3d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a98cbdb0-de6b-451f-b52e-887b9ffde5f7",
              "leftValue": "={{ $json.jobTitle }}",
              "rightValue": "CEO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "8ce79e49-ea76-45cc-b26c-14c8062d0319",
              "leftValue": "={{ $json.jobTitle }}",
              "rightValue": "Chairman",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "49698840-065c-4421-b545-f22d5f4ae9d8",
              "leftValue": "={{ $json.jobTitle }}",
              "rightValue": "Owner",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7d21dcf2-db62-4162-8151-7b4ac84941a2",
              "leftValue": "={{ $json.jobTitle }}",
              "rightValue": "Chief",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        640
      ],
      "id": "bc2d034d-53cf-4a7b-9ce3-fcae3f5f9da2",
      "name": "Filter for Decision makers",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5840127-170a-476a-8dfd-517c48294937",
              "name": "companyname",
              "value": "={{ $('LinkFinder AI - Company Info').item.json.name }}",
              "type": "string"
            },
            {
              "id": "213b984f-f43d-4e30-b8b9-47fd0b7dc12a",
              "name": "company_description",
              "value": "={{ $('LinkFinder AI - Company Info').item.json.company_description }}",
              "type": "string"
            },
            {
              "id": "e3eb8bc9-b5cd-47da-a807-df208eb2decb",
              "name": "location",
              "value": "={{ $('LinkFinder AI - Company Info').item.json.location }}",
              "type": "string"
            },
            {
              "id": "fe224dbe-a868-422b-b8ee-5bd4a208f2a9",
              "name": "website",
              "value": "={{ $('LinkFinder AI - Company Info').item.json.website }}",
              "type": "string"
            },
            {
              "id": "d8ac18f4-42fd-488e-97d0-3d1ad4bd85c0",
              "name": "company_size",
              "value": "={{ $('LinkFinder AI - Company Info').item.json.company_size }}",
              "type": "string"
            },
            {
              "id": "ebbaf36a-3096-4436-91bc-f1125bf60b63",
              "name": "specialties",
              "value": "={{ $('LinkFinder AI - Company Info').item.json.specialties }}",
              "type": "string"
            },
            {
              "id": "62a185dc-5771-4ebb-b432-53618b3c18f1",
              "name": "industry",
              "value": "={{ $('LinkFinder AI - Company Info').item.json.industry }}",
              "type": "string"
            },
            {
              "id": "f7596e5f-ceac-46ec-95e8-376e9d59406a",
              "name": "CEO name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "aca148fa-245d-4cdd-8f03-ad152eaed4f4",
              "name": "CEO linkedin url",
              "value": "={{ $json.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "a8dd387d-1323-49b4-a44e-1b0d21315649",
              "name": "Company email",
              "value": "={{ $('LinkFinder AI - Find Company Email').item.json.result }}",
              "type": "string"
            },
            {
              "id": "4d6261e1-2b84-4454-9245-a1b9f9a59f35",
              "name": "Company phone",
              "value": "={{ $('LinkFinder AI - Find Company Phone').item.json.result }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        624
      ],
      "id": "8726a89b-b99e-436f-a8a8-9d676f3a08d2",
      "name": "Merge format",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1uYSKmZR8Q4FWFbwqwIEKPZ44TMtuygvILV4xqkVqhcg",
          "mode": "list",
          "cachedResultName": "companies to enrich",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uYSKmZR8Q4FWFbwqwIEKPZ44TMtuygvILV4xqkVqhcg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uYSKmZR8Q4FWFbwqwIEKPZ44TMtuygvILV4xqkVqhcg/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1904,
        640
      ],
      "id": "373b582b-5a22-4bfb-984e-56c10cdb2696",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "mi5z7FRamyMvmQoQ",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ENTER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "company_name_to_phone"
            },
            {
              "name": "input_data",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        640
      ],
      "name": "LinkFinder AI - Find Company Phone",
      "id": "3a040c45-83ee-4400-a7b7-82f8fb278f1a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ENTER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "company_name_to_email"
            },
            {
              "name": "input_data",
              "value": "={{ $('LinkFinder AI - Company Info').item.json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        640
      ],
      "name": "LinkFinder AI - Find Company Email",
      "id": "ed441f9f-3f5a-4f42-bb3d-7e275558c554"
    },
    {
      "parameters": {
        "content": "FIND YOUR API KEY FOR LINKFINDER AI : https://linkfinderai.com/\n\nAND replace api in each Linkfinder ai node",
        "height": 244,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        304
      ],
      "name": "📖 Documentation1",
      "id": "013d557d-3966-4974-95a4-16d7dcd4f1fe"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkFinder AI - Find Company Linkedin Url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Company Info": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Find Company Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Get Employees": {
      "main": [
        [
          {
            "node": "Filter for Decision makers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Find Company Linkedin Url": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Company Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Decision makers": {
      "main": [
        [
          {
            "node": "Merge format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge format": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Find Company Phone": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Find Company Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Find Company Email": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Get Employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6089453-3ea6-4eaa-b7d4-e7b17d254ff3",
  "meta": {
    "instanceId": "0ba15c473753d92c71f15fc9391d54bb141d91f940c0582da38b60426c3c2f10"
  },
  "id": "1bvCWOFAE5W93sec",
  "tags": []
}
