linkedin-workflow8510.json
{
  "name": "LinkedIn Job Scraper → Sales Intelligence",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔍 LinkedIn Job Scraper → Sales Intelligence Workflow\n\n**What it does:** Scrapes LinkedIn for companies posting specific jobs, identifies buying signals, enriches MULTIPLE companies with contact data\n\n**Input:** Job title keywords (processes 50-100+ companies per run)\n\n**Output:** Enriched company list with website, phone, email, employee count for ALL companies\n\n**Scalability:** Processes 40-50 companies in batches, ~4-6 minutes total\n\n**Setup:**\n1. Get Apify API key from https://console.apify.com/account/integrations\n2. Get LinkFinder AI key from https://linkfinderai.com\n3. Replace YOUR_APIFY_API_KEY in Node 3\n4. Replace YOUR_LINKFINDER_API_KEY in Nodes 7-10\n5. Configure Google Sheets connection\n6. Edit job search parameters in Node 2\n7. Test the workflow\n\n**Services used:** Apify LinkedIn Job Scraper, company_name_to_website, company_name_to_phone, company_name_to_employee_count, company_name_to_email\n\n**Perfect for:** Sales teams identifying companies actively hiring (buying signal), building targeted outreach lists at scale",
        "height": 420,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "name": "📖 Documentation",
      "id": "3e3ba859-7d2f-4589-b79b-9b72c7a74c8e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/ivanvs~linkedin-job-scraper/run-sync-get-dataset-items?token=ENTER_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"datePosted\": \"1 week\",\n    \"extractCompanyData\": false,\n    \"keywords\": \"{{ $json['keywords (job title)'] }}\",\n    \"location\": \"{{ $json.location }}\",\n    \"maxRecords\": {{ $json['max records'] }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        224
      ],
      "name": "Apify - Start Job Scraper",
      "id": "7c2ee858-0257-44d4-a106-b12c1a92f361"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// This runs for EACH item individually\n// We'll just pass through and dedupe later\n\nconst job = $input.item.json;\nconst companyName = job.company?.name || '';\n\nreturn {\n  company_name: companyName,\n  company_url: job.company?.url || '',\n  job_title: job.title || '',\n  location: job.location?.city && job.location?.region \n    ? `${job.location.city}, ${job.location.region}` \n    : '',\n  posted_date: job.datePosted || '',\n  job_url: job.url || '',\n  employment_type: job.employmentType || '',\n  applicants: job.applicants || 0\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        224
      ],
      "name": "Dedupe Companies",
      "id": "46c6bd1e-9974-4786-890b-6cf73e7816b5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        224
      ],
      "name": "Loop Each Company",
      "id": "76e29500-0cd9-4bca-ad37-0782152c69ba"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ENTER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "company_name_to_website"
            },
            {
              "name": "input_data",
              "value": "={{ $json.company_name }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        224
      ],
      "name": "LinkFinder AI - Get Website",
      "id": "bb718f2f-55d0-4ce9-9395-2212ab53bbd7",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ENTER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "company_name_to_phone"
            },
            {
              "name": "input_data",
              "value": "={{ $('Loop Each Company').item.json.company_name }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        224
      ],
      "name": "LinkFinder AI - Get Phone",
      "id": "79293270-57fd-4dd7-b3aa-4755251cd021",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ENTER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "company_name_to_employee_count"
            },
            {
              "name": "input_data",
              "value": "={{ $('Loop Each Company').item.json.company_name }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        224
      ],
      "name": "LinkFinder AI - Get Employee Count",
      "id": "8a0c171f-0108-45c9-88f4-18442c8c07f8",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ENTER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "company_name_to_email"
            },
            {
              "name": "input_data",
              "value": "={{ $('Loop Each Company').item.json.company_name }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        224
      ],
      "name": "LinkFinder AI - Get Email",
      "id": "8691ee0d-c0f9-4970-8ed5-7f7d03e7dcac",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const companyData = $('Loop Each Company').item.json;\nconst websiteResponse = $('LinkFinder AI - Get Website').item.json;\nconst phoneResponse = $('LinkFinder AI - Get Phone').item.json;\nconst employeeCountResponse = $('LinkFinder AI - Get Employee Count').item.json;\nconst emailResponse = $('LinkFinder AI - Get Email').item.json;\n\nconst website = websiteResponse?.result || '';\nconst phone = phoneResponse?.result || '';\nconst employeeCount = employeeCountResponse?.result || '';\nconst email = emailResponse?.result || '';\n\nreturn {\n  json: {\n    company_name: companyData.company_name,\n    company_website: website,\n    company_phone: phone,\n    company_email: email,\n    employee_count: employeeCount,\n    total_jobs: companyData.total_jobs,\n    job_titles: companyData.job_titles,\n    locations: companyData.locations,\n    linkedin_url: companyData.company_linkedin_url,\n    found_date: new Date().toISOString().split('T')[0],\n    hiring_signal: `Hiring ${companyData.total_jobs} positions`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        224
      ],
      "name": "Merge Company Data",
      "id": "9b9a5902-dcb8-44a1-94f6-5dc3ddc811bc"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2608,
        -128
      ],
      "name": "Aggregate Results",
      "id": "0031a0af-193e-415d-92cf-21ae5a7e937a"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1LWL22mLoNrvwDsqiWD44P4cXLyI1caCqpNE0rhBZdZ4",
          "mode": "list",
          "cachedResultName": "linkedin jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LWL22mLoNrvwDsqiWD44P4cXLyI1caCqpNE0rhBZdZ4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LWL22mLoNrvwDsqiWD44P4cXLyI1caCqpNE0rhBZdZ4/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        1104,
        224
      ],
      "id": "e0dac88c-2e02-4baa-a12e-8b00dc52d7fb",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "mi5z7FRamyMvmQoQ",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "content": "🔥 LinkedIn Job Scraper → Sales Intelligence Workflow\n\n📋 What This Does:\n\nScrapes LinkedIn for companies posting specific job titles\nIdentifies companies actively hiring (= buying signal)\nEnriches each company with LinkFinder AI (website, phone, LinkedIn)\nExports actionable sales list to Google Sheets\nSends Slack notification\n\n\n🛠️ Tools Needed:\n\nn8n (self-hosted or cloud)\nApify account + API key (free $5/month credits)\nLinkFinder AI API key\nGoogle Sheets\nSlack (optional)\n\n\n⚙️ Setup Instructions:\n1. Get Apify API Key:\n\nGo to: https://console.apify.com/account/integrations\nCopy your API token\n\n2. Get LinkFinder AI API Key:\n\nGo to: https://linkfinderai.com\nGet your API key from account settings",
        "height": 420,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -336
      ],
      "name": "📖 Documentation1",
      "id": "5a5cb4e2-7404-4688-acb6-290f273dba23"
    },
    {
      "parameters": {
        "content": "FIND YOUR APIFY API KEY AND ADD IT IN THE URL FOR THIS NODE : apify.com",
        "height": 80,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        52
      ],
      "name": "📖 Documentation2",
      "id": "7611bbf1-e461-4c24-ac86-cb1d119e1687"
    },
    {
      "parameters": {
        "content": "FIND YOUR Linkfinder AI API KEY AND ADD IT IN THE AUTHORIZATION HEADER : linkfinderai.com",
        "height": 80,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        80
      ],
      "name": "📖 Documentation3",
      "id": "4ba6db8a-64e3-436f-a71f-56926c2fd584"
    }
  ],
  "pinData": {},
  "connections": {
    "Apify - Start Job Scraper": {
      "main": [
        [
          {
            "node": "Dedupe Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe Companies": {
      "main": [
        [
          {
            "node": "Loop Each Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Company": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkFinder AI - Get Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Get Website": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Get Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Get Phone": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Get Employee Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Get Employee Count": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Get Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Get Email": {
      "main": [
        [
          {
            "node": "Merge Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Company Data": {
      "main": [
        [
          {
            "node": "Loop Each Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        []
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Apify - Start Job Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "f2595f25-733f-4150-8a4c-45af7b382e25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ba15c473753d92c71f15fc9391d54bb141d91f940c0582da38b60426c3c2f10"
  },
  "id": "nhoBkTJq1VeXO3TT",
  "tags": []
}