post-engagement-link.json
{
  "name": "LinkedIn Post Engagement → Lead List",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [680, 460],
      "name": "Start"
    },
    {
      "parameters": {
        "content": "## 🔍 LinkedIn Post Engagement → Lead List\n\n**What it does:** Extracts people who engaged with a LinkedIn post and enriches them with full profile data.\n\n**Input:** LinkedIn post URL (paste any post URL)\n\n**Output:** List of leads with names, emails, job titles, and companies\n\n**Setup:**\n1. Get API key from https://linkfinderai.com\n2. Replace YOUR_API_KEY_HERE in both LinkFinder AI nodes\n3. Paste a LinkedIn post URL in the Input Data node\n4. Test the workflow\n\n**Services used:** linkedin_post_to_reactions, linkedin_profile_to_linkedin_info\n\n**Perfect for:** Finding warm leads from viral posts, competitor analysis, targeted outreach",
        "height": 380,
        "width": 350,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 240],
      "name": "📖 Documentation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "post123",
              "name": "postUrl",
              "value": "https://www.linkedin.com/posts/example-post",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 460],
      "name": "Input Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_post_to_reactions"
            },
            {
              "name": "input_data",
              "value": "={{ $json.postUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 460],
      "name": "LinkFinder AI - Get Post Reactions"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "profile123",
              "name": "profileUrl",
              "value": "={{ $json.profileUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 460],
      "name": "Extract Profile URLs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_profile_to_linkedin_info"
            },
            {
              "name": "input_data",
              "value": "={{ $json.profileUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 460],
      "name": "LinkFinder AI - Enrich Profiles"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lead1",
              "name": "fullName",
              "value": "={{ $json.fullName }}",
              "type": "string"
            },
            {
              "id": "lead2",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "lead3",
              "name": "jobTitle",
              "value": "={{ $json.jobTitle }}",
              "type": "string"
            },
            {
              "id": "lead4",
              "name": "companyName",
              "value": "={{ $json.companyName }}",
              "type": "string"
            },
            {
              "id": "lead5",
              "name": "linkedinUrl",
              "value": "={{ $json.profileUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1780, 460],
      "name": "Format Lead Data"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Data": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Get Post Reactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Get Post Reactions": {
      "main": [
        [
          {
            "node": "Extract Profile URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Profile URLs": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Enrich Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Enrich Profiles": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
